header {
    background: #E6E6FA
}

nav li{
    display: inline;
    margin: 0 0 0 15px
}

nav a {
  text-transform: uppercase;
  color: #4B0082;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}
