body {

}

#cha {
   width: 26%;
}

.principal{
   background-color: #E6E6FA;
   padding: 30px;
}

.titulo-principal{
    padding-left: 10px;
    font-size: 30px;
}

.titulo-centralizado {
    text-align: center;
    font-size: 35px;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
   color: darkmagenta;
}
h1 {
  font-size: 60px; font-family: serifa;
}
#camomila{
  width: 50%;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #BA55D3;
    padding: 20px;
    font-size: 26px;
}


ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-size: 80%;
}

.imagembeneficios {
              width: 70%;
              margin-left: 50%;
}
